
# =====================
# DEPENDENCIES
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =====================
# BUILD
# =====================
dist/
build/
out/

# =====================
# ENV FILES
# =====================
.env
.env.local
.env.development
.env.test
.env.production

# =====================
# VITE / FRONTEND
# =====================
frontend/dist/
frontend/node_modules/

# =====================
# BACKEND (se tiver Node)
# =====================
backend/dist/
backend/node_modules/
back/uploads/

# =====================
# PRISMA
# =====================
backend/prisma/migrations/

# =====================
# OS FILES
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================
# EXTRA FRONT
# =====================
logs/
*.log
lerna-debug.log*
dist-ssr
*.local
